<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Umbrella Test{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="{{ asset('css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('css/bootstrap-theme.min.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('css/custom.css') }}" type="text/css" rel="stylesheet" />
		
		<script type="text/javascript" src="{{ asset('js/angular.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/angular-route.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/angular-resource.min.js') }}"></script>
				
		<script type="text/javascript" src="{{ asset('js/angularjs-app/app.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/angularjs-app/controllers.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/angularjs-app/directives.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/angularjs-app/filters.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/angularjs-app/services.js') }}"></script>
    </head>
    <body ng-app="UmbrellaApp">
        {% block body %}{% endblock %}
    </body>
</html>
