{% extends '::base.html.twig' %}
{% block body %}

	<div class="container">
		<div class="page-header">
			<h1>Test <small>Single Page Application</small></h1>
		</div>
		<div ng-controller="ProductsCtrl">
			
			{% include 'UmbrellaBundle:Default:products.html.twig' %}
			
		</div>
	</div>

{% endblock %}
