<div ng-show="showProdcutModal" class="modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button ng-click="toogleProductModal()" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">[[ productModalTitle ]]</h4>
			</div>
			<div class="modal-body">
				<form role="form">
					<div class="form-group">
						<label for="image">Image</label>
						<br/>
						<img width="128" ng-src="[[ cProduct.imageUrl ]]" />
						<input accept="image/*" type="file" id="image">
						<p class="help-block">Select new image</p>
					</div>
					<div class="form-group" ng-class="{ 'has-error': productError }">
						<label for="name">Name</label>
						<input type="text" ng-model="cProduct.name" class="form-control" id="name" placeholder="Enter product name">
						<p class="help-block">[[productError]]</p>
					</div>
					<div class="form-group">
						<label for="description">Description</label>
						<textarea ng-model="cProduct.description" class="form-control" id="description" placeholder="Enter product description"></textarea>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button ng-click="toogleProductModal()" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button ng-click="submitProductForm()" type="button" class="btn btn-primary">[[ productSaveBtnTitle ]]</button>
			</div>
		</div>
	</div>
</div>