{% include 'UmbrellaBundle:Modals:product.html.twig' %}

<div class="row">	
	<div class="col-md-12">
		<div class="buttons pull-right">
			<button ng-click="newProduct()" class="btn btn-primary">New product</button>
		</div>
	</div>
</div>

<div class="row>">
	<div class="col-md-12">
		<table class="table table-condensed">
			<thead>
				<tr>
					<td>Image</td>
					<td>Name</td>
					<td>Description</td>
					<td>Actions</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="product in products">
					<td><img width="128" ng-src="[[ product.imageUrl ]]" /></td>
					<td>[[ product.name ]]</td>
					<td>[[ product.description ]]</td>
					<td>
						<button ng-click="editProduct(product)" class="btn btn-primary"><i class="glyphicon glyphicon-pencil"></i> Edit</button>
						<button ng-click="removeProduct(product)" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i> Remove</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>